footer.footer 
    .container 
        .footer__box 
            img(src="./images/logo.png", alt="logo").footer__logo
            a(href="tel:+3463456345") 8(800)600-18-69
            a(href="mailto:sfsdfsd@gsgsd").footer__mail info@cargoasia.info
            p Адрес в Китае:
            a(href="#!") 浙江省金华市义乌市后宅街道洪华小区5 栋一单元一楼RT789库房 高建军 电话15966660379
            .footer__apps 
                .footer__insta 
                    a(href="#!") 
                        i.fab 
                .footer__twitter
                    a(href="#!")  
                        i.fab
                .footer__telegram
                    a(href="#!") 
                        i.fab 
        .footer__box 
            h4.footer__title Грузоперевозки
            ul.footer__list 
                li.footer__item 
                    a.footer__link(href="#!") Цены и сроки
                li.footer__item 
                    a.footer__link(href="#!") Услуги
                li.footer__item 
                    a.footer__link(href="#!") О компании
                li.footer__item 
                    a.footer__link(href="#!") Контакты
                li.footer__item 
                    a.footer__link(href="#!") Оформить груз
        .footer__box 
            h4.footer__title Услуги
            ul.footer__list 
                li.footer__item 
                    a.footer__link(href="#!") Выкуп товара
                li.footer__item 
                    a.footer__link(href="#!") Страховка груза
                li.footer__item 
                    a.footer__link(href="#!") Аренда склада
                li.footer__item 
                    a.footer__link(href="#!") Перевод денежных средств
        .footer__box 
            h4.footer__title Информация
            ul.footer__list 
                li.footer__item 
                    a.footer__link(href="#!") Отзывы
                li.footer__item 
                    a.footer__link(href="#!") Требования к грузу
                li.footer__item 
                    a.footer__link(href="#!") Договор-оферта
                li.footer__item 
                    a.footer__link(href="#!") Как заключить договор
                li.footer__item 
                    a.footer__link(href="#!") Способы оплаты услуг
                li.footer__item 
                    a.footer__link(href="#!") Документы
                li.footer__item 
                    a.footer__link(href="#!") Статьи