section.choose 
    .container 
        h2.section__title Почему стоит выбрать именно нас?
        .choose-content 
            .choose-box 
                .choose-icon 
                    i.far 
                p.choose-text Таможенное оформление груза
            .choose-box 
                .choose-icon 
                    i.far 
                p.choose-text Таможенное оформление груза
            .choose-box 
                .choose-icon 
                    i.far 
                p.choose-text Таможенное оформление груза
            .choose-box 
                .choose-icon 
                    i.far 
                p.choose-text Таможенное оформление груза
            .choose-box 
                .choose-icon 
                    i.far 
                p.choose-text Таможенное оформление груза
            .choose-box 
                .choose-icon 
                    i.far 
                p.choose-text Таможенное оформление груза
            .choose-box 
                .choose-icon 
                    i.far 
                p.choose-text Таможенное оформление груза
            .choose-box 
                .choose-icon 
                    i.far 
                p.choose-text Таможенное оформление груза
